.countdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8rem 0;
  padding: 3.4rem 7rem;
  color: $color-error;
  background-color: $color-brand;
  opacity: 0;
  animation: fadeinLoad 1s 1s forwards;

  @include small {
    flex-direction: column;
    gap: 3rem;
    margin: 6rem 0;
    padding: 3rem 2rem;
  }


  &__timer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    width: 100%;
  }
}

.timer {
  text-align: center;
  
    &__digit {
    margin-bottom: 1.6rem;
    font-weight: 300;
    font-size: 4.4rem;
    line-height: normal;
  }
}